
    <footer class="footer-one">
        <div class="container">
            <div class="footer-tablet-flex">
            <h2 class="footer-page-name"> <span class="footer-name-chocolate">Chocolate</span>  a delicious <br> cure for a bad day</h2>
            
            <div class="footer-mobil-svg">
            <div class="footer-contact">
                <p class="footer-p-contact">Contact us</p>
                <ul >
                    <li><a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                    <li><a class="footer-mailto" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
                </ul>

                <div class="footer-div-svg">
                    <ul class="footer-ul-svg">
                        <li class="footer-li-svg"><a href="https://www.instagram.com/accounts/login/"><svg class="footer-svg" width="22px" height="22px"><use class="use-svg" href="./images/icons.svg#icon-footer-insta-mob"></use></svg></a></li>
                        <li class="footer-li-svg"><a href="https://twitter.com/?lang=ru"><svg class="footer-svg" width="22px" height="22px"><use class="use-svg" href="../images/svg/icons.svg#"></use></svg></a></li>
                    </ul>
                </div>

            </div> 


            </div>
        </div>
    
            <hr class="footer-hr">
           
            <div class="footer-menu">
                <ul class="footer-ul-menu">
                    <li class="footer-li-menu"><p>Home</p></li>
                    <li class="footer-li-menu"><p>How it&#8217;s made?</p></li>
                    <li class="footer-li-menu"><p>Our products</p></li>
                    <li class="footer-li-menu"><p>Top sellers</p></li>
                    <li class="footer-li-menu"><p>Chocolate is loved</p></li>
                </ul>
            </div>
    
        </div>    
    </footer>   



