<!-- Header -->
<header class="header">
  <!-- Menu -->
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="../index.html"
        ><span class="accent-logo">SIMPLY&nbsp;</span>CHOCOLATE
        <svg class="header-logo-icon" width="21" height="21">
          <use href=""></use>
        </svg>
      </a>
      <ul class="header-list-nav">
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Home</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">How it&#8217;s made?</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Our products</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Top sellers</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="header-list-soc">
        <li class="header-item-soc">
          <a
            class="header-link-soc"
            href="https://www.instagram.com/"
            target="_blank"
            ><svg class="header-soc-icon" width="22" height="22">
              <use href=""></use></svg
            >i</a
          >
        </li>
        <li class="header-item-soc">
          <a class="header-link-soc" href="https://twitter.com/" target="_blank"
            ><svg class="header-soc-icon" width="20" height="20">
              <use href=""></use></svg
            >t</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn-menu" type="button">
      <svg class="header-menu-icon" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <!-- Mob Menu -->
  <div class="mob-menu visually-hidden" data-menu>
    <div class="menu-container">
      <button class="btn-close-menu" type="button" data-menu-close>
        <svg class="header-close-icon" width="8" height="8">
          <use href=""></use>
        </svg>
      </button>
      <ul class="header-list-nav">
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Home</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">How it&#8217;s made?</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Our products</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Top sellers</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="header-list-soc">
        <li class="header-item-soc">
          <a
            class="header-link-soc"
            href="https://www.instagram.com/"
            target="_blank"
            ><svg class="header-soc-icon" width="22" height="22">
              <use href=""></use></svg
            >i</a
          >
        </li>
        <li class="header-item-soc">
          <a class="header-link-soc" href="https://twitter.com/" target="_blank"
            ><svg class="header-soc-icon" width="20" height="20">
              <use href=""></use></svg
            >t</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
