<!-- Header -->
<header class="header">
  <!-- Menu -->
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="../index.html"
        ><span class="accent-logo">SIMPLY</span>CHOCOLATE
        <svg class="header-logo-icon-mob" width="21" height="21">
          <use href="./images/svg/icons.svg#icon-header-choco-tab-mob"></use>
        </svg>
        <svg class="header-logo-icon-desk" width="24" height="24">
          <use href="./images/svg/icons.svg#icon-header-choco-dsktp"></use>
        </svg>
      </a>
      <ul class="header-list-nav">
        <li class="header-item-nav">
          <a class="header-link-nav" href="../index.html">Home</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#how-its-made"
            >How it&#8217;s made?</a
          >
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#our-products">Our products</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-item-nav">
          <a class="header-link-nav" href="#chocolate-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <ul class="header-list-soc">
        <li class="header-item-soc">
          <a
            class="header-link-soc"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="header-soc-icon" width="24" height="24">
              <use
                href="./images/svg/icons.svg#icon-header-insta-dsktp"
              ></use></svg
          ></a>
        </li>
        <li class="header-item-soc">
          <a
            class="header-link-soc"
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="header-soc-icon" width="24" height="24">
              <use
                href="./images/svg/icons.svg#icon-header-twitter-dsktp"
              ></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <button class="btn-menu" type="button" data-menu-open>
      <svg class="header-menu-icon-mob" width="28" height="28">
        <use href="./images/svg/icons.svg#icon-mobile-menu-icon-mob"></use>
      </svg>
      <svg class="header-menu-icon-tab" width="32" height="32">
        <use href="./images/svg/icons.svg#icon-mobile-menu-icon-tab"></use>
      </svg>
    </button>
  </div>
  <!-- Mob Menu -->
  <div class="mob-menu is-hidden" data-menu>
    <div class="menu-container">
      <div>
        <button class="btn-menu-close" type="button" data-menu-close>
          <svg class="header-close-icon-mob" width="28" height="28">
            <use
              href="./images/svg/icons.svg#icon-mobile-menu-close-mob"
            ></use>
          </svg>
          <svg class="header-close-icon-tab" width="32" height="32">
            <use
              href="./images/svg/icons.svg#icon-mobile-menu-close-tab"
            ></use>
          </svg>
        </button>
        <ul class="menu-list-nav">
          <li class="menu-item-nav">
            <a class="menu-link-nav" href="../index.html">Home</a>
          </li>
          <li class="menu-item-nav">
            <a class="menu-link-nav" href="#how-its-made"
              >How it&#8217;s made?</a
            >
          </li>
          <li class="menu-item-nav">
            <a class="menu-link-nav" href="#our-products">Our products</a>
          </li>
          <li class="menu-item-nav">
            <a class="menu-link-nav" href="#top-sellers">Top sellers</a>
          </li>
          <li class="menu-item-nav">
            <a class="menu-link-nav" href="#chocolate-loved"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu-list-soc">
          <li class="menu-item-soc">
            <a
              class="menu-link-soc"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="menu-soc-icon-mob" width="22" height="22">
                <use
                  href="./images/svg/icons.svg#icon-mobile-menu-insta-mob"
                ></use>
              </svg>
              <svg class="menu-soc-icon-tab" width="24" height="24">
                <use
                  href="./images/svg/icons.svg#icon-mobile-menu-insta-tab"
                ></use></svg
            ></a>
          </li>
          <li class="menu-item-soc">
            <a
              class="menu-link-soc"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="menu-soc-icon-mob" width="20" height="20">
                <use
                  href="./images/svg/icons.svg#icon-mobile-menu-twitter-mob"
                ></use>
              </svg>
              <svg class="menu-soc-icon-tab" width="24" height="24">
                <use
                  href="./images/svg/icons.svg#icon-mobile-menu-twitter-tab"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
