<section class="section-hero">
  <div class="container hero-container">
    <div class="hero--content">
      <h1 class="visually-hidden">Hero</h1>
      <h2 class="hero--title title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero__tablet--btn--scroll">
        <div class="hero__button--wrap">
          <button
            class="hero__btn--1 button button__accent js-open-modal"
            data-modal="1"
          >
            Buy now
          </button>
          <a href="#how-its-made">
          <button type="button" class="button hero__btn--2">
            How it&#8217;s made
          </button>
          </a>
        </div>
        <div class="hero__scroll--wrap">
          <a href="#footer" class="hero__scroll--title"
            >scroll down
            <div class="hero__scroll--link">
              <svg class="hero__scroll--item" width="16px" height="16px">
                <use
                  href="./images/svg/icons.svg#icon-hero-scrl-down-mob"
                ></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
