<section id="how-its-made" class="section made-section">
  <div class="container">
    <h1 class="made-title">
      HOW IT'S <span class="made-subtitle">MADE?</span>
    </h1>
    <div class="made-background">
      <div class="icon-tumb">
        <picture>
          <source
            srcset="
              ../images/how-its-made/how-its-made-desk1x.jpg 1x,
              ../images/how-its-made/how-its-made-desk2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../images/how-its-made/how-its-made-tab1x.jpg 1x,
              ../images/how-its-made/how-its-made-tab2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/how-its-made/how-ts-made-mobile.jpg    1x,
              ../images/how-its-made/how-ts-made-mobile@2x.jpg 2x
            "
            media="(max-width:375px)"
          />
          <img
            class="icon-rank"
            src="../images/how-its-made/image.jpg"
            alt="video"
          />
        </picture>
        <svg class="video-icon" width="35" height="35">
          <use href="../images/how-its-made/symbol-defs.svg#icon-play-1"></use>
        </svg>
      </div>
      <div class="made-paragraph">
        <p class="ingridients-title">
          Try our chocolates today and
          <span class="new-line-title">
            discover the perfect balance of flavor</span
          >
        </p>
        <ul class="ingridients-list">
          <li class="ingridients-text">
            <a class="list-icon"
              ><svg width="8" height="8">
                <use
                  href="../images/how-its-made/symbol-defs.svg#icon-Ellipse-1"
                ></use></svg></a
            ><span class="ingridients-item">
              Heat the milk in a saucepan without bringing it to a boil.
              <span class="desktop-line">
                Add sugar <span class="new-line"> and cocoa powder.</span></span
              ></span
            >
          </li>
          <li class="ingridients-text">
            <a class="list-icon"
              ><svg width="8" height="8">
                <use
                  href="../images/how-its-made/symbol-defs.svg#icon-Ellipse-1"
                ></use></svg></a
            ><span class="ingridients-item">
              At the same time, prepare a water bath. Melt the butter on it.
            </span>
          </li>
          <li class="ingridients-text">
            <a class="list-icon"
              ><svg width="8" height="8">
                <use
                  href="../images/how-its-made/symbol-defs.svg#icon-Ellipse-1"
                ></use></svg></a
            ><span class="ingridients-item">
              "Mix" the milk mixture and already liquid butter. Mix
              <span class="desktop-line">
                thoroughly with
                <span class="new-line">
                  a silicone spatula so that the mass becomes uniform and
                  silky.</span
                ></span
              ></span
            >
          </li>
          <li class="ingridients-text">
            <a class="list-icon"
              ><svg width="8" height="8">
                <use
                  href="../images/how-its-made/symbol-defs.svg#icon-Ellipse-1"
                ></use></svg></a
            ><span class="ingridients-item">
              Heat the mixture over low heat, letting it barely boil.</span
            >
          </li>
          <li class="ingridients-text">
            <a class="list-icon"
              ><svg width="8" height="8">
                <use
                  href="../images/how-its-made/symbol-defs.svg#icon-Ellipse-1"
                ></use></svg></a
            ><span class="ingridients-item">
              Pour the chocolate into special containers (can be replaced
              <span class="desktop-line">
                with ice
                <span class="new-line">
                  molds). Allow to cool and harden.
                </span></span
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
