<section>
    <div class="made-container">
        <h1 class="made-title">HOW IT'S <span class="made-subtitle">MADE?</span></h1>
        <div class="made-background">
        <picture class="made-picture">
            <source srcset="../images/how-its-made/how-its-made-1200.jpg 1x, ../images/how-its-made/how-its-made-1200@2x.jpg 2x" media="(min-width:1200px)">
            <source srcset="../images/how-its-made/how-its-made-768.jpg 1x, ../images/how-its-made/how-its-made-768@2x.jpg 2x" media="(min-width:768px)">
            <source srcset="../images/how-its-made/how-ts-made-mobile.jpg 1x, ../images/how-its-made/how-ts-made-mobile@2x.jpg 2x" media="(max-width:375px)">
            <img src="../images/how-its-made/image.jpg" alt="video" width="335">
        </picture>
        <svg class="video-icon" width="35" height="35">
            <use href="../images/symbol-defs.svg#icon-play"></use>
        </svg>
        <div class="made-paragraph">
        <p class="ingridients-title"> Try  our chocolates today and <br> discover the perfect balance of flavor</p>
        <ul class="ingridients-list">
            <li class="ingridients-text">
                <a><svg width="8" height="8"><use></use></svg></a>
            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li class="ingridients-text">
                <a><svg width="8" height="8"><use></use></svg></a>
                    At the same time, prepare a water bath. Melt the butter on it.</li>
            <li class="ingridients-text">
                <a><svg width="8" height="8"><use></use></svg></a>
                "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li class="ingridients-text">
                <a><svg width="8" height="8"><use></use></svg></a>
                Heat the mixture over low heat, letting it barely boil.</li>
            <li class="ingridients-text"> 
                <a><svg width="8" height="8"><use></use></svg></a>
                Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
        </ul> 
        </div>
       </div>
    </div>
</section>  