<div class="backdrop is-hidden">
  <div class="modal__thank">
    <button class="modal__thank--close" type="button" data-modal-close>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
      >
        <path
          stroke="url(#a)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m12 4-8 8"
        />
        <path
          stroke="url(#b)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m4 4 8 8"
        />
        <defs>
          <linearGradient
            id="a"
            x1="8.035"
            x2="7.761"
            y1="4"
            y2="11.992"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F16529" />
            <stop offset="1" stop-color="#D44528" />
          </linearGradient>
          <linearGradient
            id="b"
            x1="8.035"
            x2="7.761"
            y1="4"
            y2="11.992"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F16529" />
            <stop offset="1" stop-color="#D44528" />
          </linearGradient>
        </defs>
      </svg>
    </button>
    <h2 class="modal__thank--title">thank you!</h2>
    <p class="modal__thank--text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
</div>
