<div class="modal review__modal" data-modal="2">
  <button type="button" class="buy-now__btn-close js-modal-close">
    <svg class="buy-now__icon-close">
      <use href="./images/svg/icons.svg#icon-modal-close-dsktp-tab"></use>
    </svg>
  </button>
  <h2 class="review__title">
    leave a review <br />
    about
    <span class="title__accent">our chocolate</span>
  </h2>
  <h3 class="title review__title-tablet">
    leave a review about
    <span class="title__accent">our chocolate</span>
  </h3>
  <form class="review__form">
    <label class="review__label">
      <input
        type="text"
        name="user_name"
        required
        class="review__label-input"
        placeholder="Name"
        pattern="^[a-zA-Zа-яА-Яі-Ії-Ї]+$"
        minlength="2"
      />
    </label>
    <label class="review__label">
      <input
        type="email"
        name="user_email"
        required
        class="review__label-input"
        placeholder="Enter your email"
        pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        title="mail@mail.com"
      />
    </label>
    <label class="review__label review__phone-label">
      <span class="review__label-phone-input"
        ><input
          type="tel"
          name="user-phone"
          required
          pattern="^[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}$"
          title="xx-xxx-xx-xx"
          class="review__label-input"
          placeholder="Phone number"
        />
        <svg class="review__icon-flag">
          <use href="./images/svg/icons.svg#icon-flag-dsktp-tab"></use>
        </svg>
        <span class="review__label-phone">+380</span>
      </span>
    </label>
    <label class="review__label">
      <textarea
        name="user_message"
        placeholder="Enter text"
        class="review__message"
      ></textarea>
    </label>
    <button
      type="submit"
      class="button button__accent review__btn-submit js-modal-close js-open-modal"
      data-modal="4"
    >
      Send
    </button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>
