<div class="modal modal-leave-review" data-modal="3">
  <div class="btn-wrap">
    <button type="button" class="btn-close-leave-review js-modal-close">
      <svg class="icon-close-modal">
        <use href=".src/images/svg/icons.svg#icon-modal-close-dsktp-tab"></use>
      </svg>
    </button>
  </div>
  <div class="container-modal-leave-review">
    <h2 class="title-modal-leave-review title">
      leave a review <br class="line-break-title-modal-leave-review" />
      about
      <span class="accent-title-modal-leave-review">our chocolate</span>
    </h2>
    <form class="form-modal-leave-review" required>
      <div class="form-field-modal-leave-review">
        <input
          type="text"
          class="input-modal text-input-modal-leave-review"
          name="name-review"
          placeholder="Name"
          required
          pattern=".{2,20}"
          title="The number of characters should not exceed 20"
        />
      </div>
      <div class="form-field-modal-leave-review">
        <input
          type="email"
          class="input-modal text-input-modal-leave-review"
          name="email-review"
          placeholder="Enter your email"
          pattern=".{5,40}"
          title="The number of characters should not be less than 5 and should not exceed 40"
          required
        />
      </div>
      <div class="form-field-modal-leave-review">
        <div class="country-container"></div>
        <input
          type="tel"
          class="input-modal phone-input text-input-modal-leave-review"
          name="tel-review"
          placeholder="Phone number"
          pattern="^\+[0-9]{12}$"
          title="Number of digits should not be 12"
          required
        />
      </div>
      <div class="form-field-modal message-form-field-modal-leave-review">
        <textarea
          class="input-modal message-modal-leave-review text-input-modal-leave-review"
          name="message-review"
          placeholder="Enter text"
          pattern="^[a-zA-Z]{5,500}"
          title="The number of characters should not be less than 4 and should not exceed 500"
          minlength="4"
          maxlength="500"
          required
        ></textarea>
      </div>
      <button type="submit" class="button js-open-modal" data-modal="4">
        Send
      </button>
    </form>
  </div>
</div>

<div class="overlay js-overlay-modal"></div>
