<div class="buy-now-backdrop is-hidden js-buy-now">
  <div class="buy-now-modal">
    <button type="button" class="buy-now-btn-close js-close-menu-buy">
      <svg class="buy-now-icon-close">
        <use href="./src/images/svg/icons.svg#icon-modal-close-dsktp-tab"></use>
      </svg>
    </button>
    <h2 class="buy-now-title">
      Buy <span class="buy-now-title-second">Now</span>
    </h2>
    <div class="buy-now-slider-container">
      <div class="buy-now-slider">
        <div class="buy-now-slider-item">
          <picture>
            <source
              type="image/jpeg"
              src="./src/images/modal-order/order1.jpg 1x,
              ./src/images/modal-order/order1@2x.jpg 2x"
            />
          </picture>
          <p class="buy-now-slider-text">100 g</p>
        </div>
        <div class="slider-item">
          <picture>
            <source type="image/jpeg" src="./src/images/modal-order/order2.jpg
            1x, ./src/images/modal-order/order2@2x.jpg 2x"" />
          </picture>
          <p class="buy-now-slider-text">200 g</p>
        </div>
        <div class="slider-item">
          <picture>
            <source type="image/jpeg" src="./src/images/modal-order/order3.jpg
            1x, ./src/images/modal-order/order3@2x.jpg 2x"" />
          </picture>
          <p class="buy-now-slider-text">300 g</p>
        </div>
      </div>
    </div>
    <div class="buy-now-image-container">
      <div class="buy-now-picture-container">
        <picture>
          <source type="image/png" src="./src/images/modal-order/order1.jpg" />
        </picture>
        <p class="buy-now-slider-text">200 g</p>
      </div>
      <div class="buy-now-picture-container">
        <picture>
          <source type="image/png" src="./src/images/modal-order/order2.jpg" />
        </picture>
        <p class="buy-now-slider-text">200 g</p>
      </div>
      <div class="buy-now-picture-container">
        <picture>
          <source type="image/png" src="./src/images/modal-order/order3.jpg" />
        </picture>
        <p class="buy-now-slider-text">200 g</p>
      </div>
    </div>
    <form class="buy-now-modal-form">
      <label class="buy-now-label">
        <span class="buy-now-label-title">Personal information</span>
        <div class="buy-now-for-input">
          <input
            type="text"
            name="user_name"
            required
            class="buy-now-label-input buy-now-first"
            placeholder="Name"
            pattern="^[a-zA-Zа-яА-Яі-Ії-Ї]+$"
            minlength="2"
          />
          <input
            type="text"
            name="user_surname"
            required
            class="buy-now-label-input buy-now-label-input-second"
            placeholder="Surname"
            pattern="^[a-zA-Zа-яА-Яі-Ії-Ї]+$"
            minlength="2"
          />
        </div>
      </label>
      <label class="buy-now-label">
        <span class="buy-now-label-title">Email</span>
        <input
          type="email"
          name="user_email"
          required
          class="buy-now-label-input buy-now-label-input-three"
          placeholder="Enter your email"
        />
      </label>
      <label class="buy-now-label">
        <span class="buy-now-label-title">Phone number</span>
        <span class="buy-now-label-phone-input"
          ><input
            type="tel"
            name="user-phone"
            required
            pattern="^[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}$"
            title="xx-xxx-xx-xx"
            class="buy-now-label-input buy-now-label-input-phone buy-now-label-input-three"
            placeholder="Phone number"
          />
          <div class="buy-now-phone-decor">
            <svg class="buy-now-label-icon">
              <use href="./src/images/svg/icons.svg#icon-flag-dsktp-tab"></use>
            </svg>
            <span class="buy-now-label-phone-number">+380</span>
            <!-- <span class="buy-now-line"></span> -->
          </div>
        </span>
      </label>
      <label class="buy-now-label">
        <span class="buy-now-label-title">Card number</span>
        <span class="buy-now-label-input-cards">
          <input
            type="number"
            name="user-card"
            required
            pattern="^[0-9]{12}"
            title="xxxxxxxxxxxxxxxx"
            class="buy-now-label-input buy-now-label-input-cards buy-now-label-input-three"
            placeholder="Enter card"
          />
          <svg class="buy-now-icon-card">
            <use
              href="./src/images/svg/icons.svg#icon-payment-icon-dsktp-tab"
            ></use>
          </svg>
        </span>
      </label>
      <label class="buy-now-label">
        <span class="buy-now-label-title">Comment</span>
        <textarea
          name="user_message"
          placeholder="Enter text"
          class="buy-now-message"
        ></textarea>
      </label>
      <button
        type="submit"
        class="buy-now-btn-submit js-open-modal-thank"
        data-modal-open
      >
        Submit
      </button>
    </form>
  </div>
</div>
