<div class="modal modal-buynow" data-modal="modal-buy-now">
  <button class="modal-buynow-close" type="button">
    <svg class="icon-close-modal js-modal-close" width="24" height="24">
      <use href=".src/images/svg/icons.svg#icon-modal-close-dsktp-tab"></use>
    </svg>
  </button>
  <div class="buynow-container">
    <h2 class="buynow-title title">
      BUY&nbsp;<span class="buynow-title-now">NOW</span>
    </h2>
    <ul class="buynow-list">
      <li class="buynow-item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order1.jpg    1x,
              ./src/images/modal-order/order1@2x.jpg 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order1.jpg    1x,
              ./src/images/modal-order/order1@2x.jpg 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order1.jpg    1x,
              ./src/images/modal-order/order1@2x.jpg 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />

          <img
            src="./src/images/modal-order/order1.jpg"
            alt="kinder"
            class="buynow-img"
            width="167"
            height="148"
          />
        </picture>
        <button class="products-btn" type="button">100 g</button>
      </li>
      <li class="buynow-item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order2.jpg    1x,
              ./src/images/modal-order/order2@2x.jpg 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order2.jpg    1x,
              ./src/images/modal-order/order2@2x.jpg 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order2.jpg    1x,
              ./src/images/modal-order/order2@2x.jpg 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />

          <img
            src="./src/images/modal-order/order2.jpg"
            alt="praline"
            class="buynow-img"
            width="167"
            height="148"
          />
        </picture>
        <button class="products-btn" type="button">200 g</button>
      </li>
      <li class="buynow-item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order3.jpg    1x,
              ./src/images/modal-order/order3@2x.jpg 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order3.jpg    1x,
              ./src/images/modal-order/order3@2x.jpg 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./src/images/modal-order/order3.jpg    1x,
              ./src/images/modal-order/order3@2x.jpg 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />

          <img
            src="./src/images/modal-order/order3.jpg"
            alt="dark"
            class="buynow-img"
            width="167"
            height="148"
          />
        </picture>
        <button class="products-btn" type="button">300 g</button>
      </li>
    </ul>
    <form class="buynow-form">
      <label class="label-buynow" for="name">Personal information</label>
      <div class="name-buynow">
        <input
          class="input-modal buynow-marg"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          required
          pattern=".{1,20}"
          title="The number of characters should not exceed 20"
        />
        <input
          class="input-modal"
          type="text"
          name="name"
          id="name"
          placeholder="Surname"
          required
          pattern=".{1,20}"
          title="The number of characters should not exceed 20"
        />
      </div>
      <label class="label-buynow" for="email">Email</label>
      <div>
        <input
          class="input-modal"
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          required
          pattern=".{10,40}"
          title="The number of characters should not be less than 10 and should not exceed 40"
        />
      </div>
      <label class="label-buynow" for="phone">Phone number</label>
      <div>
        <input
          class="input-modal phone-input"
          type="tel"
          name="phone"
          id="phone"
          placeholder="Phone number"
          required
          pattern="^\+[0-9]{12}$"
          title="Number of digits should not be 12"
        />
      </div>
      <label class="label-buynow" for="card">Card number</label>
      <div class="input-buynow-wrap">
        <input
          class="input-modal"
          type="text"
          name="card"
          id="card"
          placeholder="Enter card"
          required
          pattern="{.16,16}"
        />
        <svg class="mcard-buynow" width="32" height="21">
          <use
            href=".src/images/svg/icons.svg#icon-payment-icon-dsktp-tab"
          ></use>
        </svg>
      </div>
      <label class="label-buynow" for="com">Comment</label>
      <div>
        <textarea
          class="input-modal buynow-comment"
          name="comment"
          id="com"
          placeholder="Enter text"
          required
          pattern="^[a-zA-Z]{5,500}"
          title="The number of characters should not be less than 5 and should not exceed 500"
        ></textarea>
      </div>
      <button
        class="button submit-buynow js-open-modal"
        type="submit"
        data-modal="modal-hero"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
