<section id="our-products" class="our-products-section section">
  <div class="container">
    <h2 class="our-products-title">
      Our <span class="our-products-title-accent">products</span>
    </h2>
    <!-- Slider main container -->
    <div class="our-products-swiper swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product1.jpg    1x,
                ./images/our-products/product1@2x.jpg 2x
              "
              src="./images/our-products/product1.jpg"
              alt="Chocolate type 1"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Orange</h3>
              <p class="our-products-info">Dark chocolate</p>
              <p class="our-products-price">45 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product2.jpg    1x,
                ./images/our-products/product2@2x.jpg 2x
              "
              src="./images/our-products/product2.jpg"
              alt="Chocolate type 2"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Apple&cranberry</h3>
              <p class="our-products-info">Milk chocolate</p>
              <p class="our-products-price">50 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product3.jpg    1x,
                ./images/our-products/product3@2x.jpg 2x
              "
              src="./images/our-products/product3.jpg"
              alt="Chocolate type 3"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Lime&sea salt</h3>
              <p class="our-products-info">Dark chocolate</p>
              <p class="our-products-price">66 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product4.jpg    1x,
                ./images/our-products/product4@2x.jpg 2x
              "
              src="./images/our-products/product4.jpg"
              alt="Chocolate type 4"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Pineapple</h3>
              <p class="our-products-info">Dark chocolate</p>
              <p class="our-products-price">54 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product5.jpg    1x,
                ./images/our-products/product5@2x.jpg 2x
              "
              src="./images/our-products/product5.jpg"
              alt="Chocolate type 5"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Classic</h3>
              <p class="our-products-info">Milk chocolate</p>
              <p class="our-products-price">45 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product6.jpg    1x,
                ./images/our-products/product6@2x.jpg 2x
              "
              src="./images/our-products/product6.jpg"
              alt="Chocolate type 6"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Honey</h3>
              <p class="our-products-info">Milk chocolate</p>
              <p class="our-products-price">50 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product7.jpg    1x,
                ./images/our-products/product7@2x.jpg 2x
              "
              src="./images/our-products/product7.jpg"
              alt="Chocolate type 7"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Roasted fruits</h3>
              <p class="our-products-info">Dark chocolate</p>
              <p class="our-products-price">66 UAH</p>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-card">
            <img
              srcset="
                ./images/our-products/product8.jpg    1x,
                ./images/our-products/product8@2x.jpg 2x
              "
              src="./images/our-products/product8.jpg"
              alt="Chocolate type 8"
              width="230"
              height="201"
            />
            <div class="our-products-info-wrap">
              <h3 class="our-products-name">Classic</h3>
              <p class="our-products-info">White chocolate</p>
              <p class="our-products-price">54 UAH</p>
            </div>
          </div>
        </li>
      </ul>
      <!-- Pagination -->
      <div class="our-products-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
