<section class="section reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">
      <span class="reviews-title-accent">chocolate</span> is loved
    </h2>
    <ul class="reviews-wrap dots">
      <li class="reviews-card">
        <img
          class="reviews-photo"
          srcset=""
          src=""
          alt="Photo Victoria Dobrzhanska"
          width="80"
          height="80"
        />
        <div class="reviews-content">
          <h3 class="reviews-name">Victoria Dobrzhanska</h3>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-photo"
          srcset=""
          src=""
          alt="Photo Nazar Babenko"
          width="80"
          height="80"
        />
        <div class="reviews-content">
          <h3 class="reviews-name">Nazar Babenko</h3>
          <p class="reviews-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-photo"
          srcset=""
          src=""
          alt="Photo Olena Kampusch"
          width="80"
          height="80"
        />
        <div class="reviews-content">
          <h3 class="reviews-name">Olena Kampusch</h3>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
  </div>

  <!-- Слайдери
  <div id="frame">
    <input type="radio" name="frame" id="frame1" checked />
    <input type="radio" name="frame" id="frame2" />
    <input type="radio" name="frame" id="frame3" />
    <input type="radio" name="frame" id="frame4" />
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="frame frame_1">
            <div class="frame-content">
              <h2>Slide 1</h2>
            </div>
          </div>
          <div class="frame frame_2">
            <div class="frame-content">
              <h2>Slide 2</h2>
            </div>
          </div>
          <div class="frame frame_3">
            <div class="frame-content">
              <h2>Slide 3</h2>
            </div>
          </div>
          <div class="frame frame_4">
            <div class="frame-content">
              <h2>Slide 4</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="controls">
      <label for="frame1"></label>
      <label for="frame2"></label>
      <label for="frame3"></label>
      <label for="frame4"></label>
    </div>
    <div id="bullets">
      <label for="frame1"></label>
      <label for="frame2"></label>
      <label for="frame3"></label>
      <label for="frame4"></label>
    </div>
  </div>
--></section>
