<section class="subscribe-section container">
    <div class="subscribe-section-wrap">
     <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
     <p class="subscribe-text">
        From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.
     </p>
     <button data-modal-open-expl type="button" class="subscribe-btn button button__accent">Subscribe</button>
    </div>
</section>