<section class="section section-top-sellers">
  <div class="container">
    <h2 class="title title-top-sellers">
      <span class="title__accent">tOp</span> Sellers
    </h2>
    <div class="wrap-top-sellers">
      <ul class="list-top-sellers">
        <li class="item-top-sellers">
          <picture>
            <source
              srcset="
                ./images/top-sellers/top-sellers1-mobile.jpg    1x,
                ./images/top-sellers/top-sellers1-mobile@2x.jpg 2x
              "
              media="(min-width:375px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/top-sellers/top-sellers1-768.jpg    1x,
                ./images/top-sellers/top-sellers1-768@2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/top-sellers/top-sellers1-1200.jpg    1x,
                ./images/top-sellers/top-sellers1-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
              type="image/jpeg"
            />
            <img
              src="./images/top-sellers/top-sellers1-1200.jpg "
              alt="Chocolate with coffee"
              width="368"
            />
          </picture>
        </li>
        <li class="item-top-sellers">
          <picture>
            <source
              srcset="
                ./images/top-sellers/top-sellers2-mobile.jpg    1x,
                ./images/top-sellers/top-sellers2-mobile@2x.jpg 2x
              "
              media="(min-width:375px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/top-sellers/top-sellers2-768.jpg    1x,
                ./images/top-sellers/top-sellers2-768@2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/top-sellers/top-sellers2-1200.jpg    1x,
                ./images/top-sellers/top-sellers2-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
              type="image/jpeg"
            />
            <img
              src="./images/top-sellers/top-sellers2-1200.jpg"
              alt="Chocolate with mint"
              width="368"
            />
          </picture>
        </li>
        <li class="item-top-sellers">
          <picture>
            <source
              srcset="
                ./images/top-sellers/top-sellers3-1200.jpg    1x,
                ./images/top-sellers/top-sellers3-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
              type="image/jpeg"
            />
            <img
              src="./images/top-sellers/top-sellers3-1200.jpg"
              alt="Chocolate with truffle"
              width="368"
            />
          </picture>
        </li>
      </ul>
      <div class="wrap-content-top-sellers">
        <p class="paragraph-top-sellers">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button
          class="button button--large button__accent btn-top-sellers"
          type="button"
        >
          > Buy now
        </button>
      </div>
    </div>
  </div>
</section>
