<section class="section container">
  <div class="unique-title-text">
    <h2 class="unique-general-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-general-span">TASTE</span> SENSATION
    </h2>
    <p class="unique-title">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>
  <ul class="unique-list">
    <li class="unique-item chocolate">
      <div class="unuqie-window chocolate">
<div class="unique-photo">
        <picture>
          <source
            srcset="
              ./images/unique-components/choco-1200.png    1x,
              ./images/unique-components/choco-1200@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/unique-components/choco-mobile-768.png    1x,
              ./images/unique-components/choco-mobile-768@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./images/unique-components/choco-1200.png"
            alt="Milk chocolate"
            width="206"
            class="unique-img milk-chocolate"
          />
        </picture>
      </div>
        <p class="unique-item-text chocolate">MILK CHOCOLATE</p>
        <div class="unique-open-window">
          <p class="unique-window-title">MILK CHOCOLATE</p>
          <ul class="unique-button-window">
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                chocolate
              </button>
            </li>
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                the benefits
              </button>
            </li>
          </ul>
          <p class="unique-window-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
    <li class="unique-item milk">
      <div class="unuqie-window milk">
        <div class="unique-photo">
        <picture>
          <source
            srcset="
              ./images/unique-components/milk-1200.png    1x,
              ./images/unique-components/milk-1200@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/unique-components/milk-mobile-768.png    1x,
              ./images/unique-components/milk-mobile-768@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./images/unique-components/milk-1200.png"
            alt="Milk"
            width="206"
            class="unique-img milk"
          />
        </picture>
      </div>
        <p class="unique-item-text milk">MILK</p>
        <div class="unique-open-window">
          <p class="unique-window-title milk">MILK</p>
          <ul class="unique-button-window">
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                milk
              </button>
            </li>
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                the benefits
              </button>
            </li>
          </ul>
          <p class="unique-window-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </div>
    </li>
    <li class="unique-item nuts">
      <div class="unuqie-window nuts">
        <div class="unique-photo">
        <picture>
          <source
            srcset="
              ./images/unique-components/nuts-1200.png    1x,
              ./images/unique-components/nuts-1200@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/unique-components/nuts-mobile-768.png    1x,
              ./images/unique-components/nuts-mobile-768@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./images/unique-components/nuts-1200.png"
            alt="Nuts"
            width="206"
            class="unique-img nuts"
          />
        </picture>
      </div>
        <p class="unique-item-text nuts">NUTS</p>
        <div class="unique-open-window">
          <p class="unique-window-title nuts">NUTS</p>
          <ul class="unique-button-window">
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                nuts
              </button>
            </li>
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                the benefits
              </button>
            </li>
          </ul>
          <p class="unique-window-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own, paired with fruit, or
            added to dishes like salads, desserts, and grains.
          </p>
        </div>
      </div>
    </li>
    <li class="unique-item sweet">
      <div class="unuqie-window sweet">
        <div class="unique-photo">
        <picture>
          <source
            srcset="
              ./images/unique-components/semi-1200.png    1x,
              ./images/unique-components/semi-1200@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/unique-components/semi-mobile-768.png    1x,
              ./images/unique-components/semi-mobile-768@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./images/unique-components/semi-1200.png"
            alt="Semi-sweet chocolate"
            width="206"
            class="unique-img semi-sweet"
          />
        </picture>
      </div>
        <p class="unique-item-text sweet">SEMI-SWEET CHOCOLATE</p>
        <div class="unique-open-window">
          <p class="unique-window-title sweet">SWEET CHOCOLATE</p>
          <ul class="unique-button-window">
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                sweet chocolate
              </button>
            </li>
            <li>
              <button
                class="button--small"
                onclick="window.location.href = '#';"
              >
                the benefits
              </button>
            </li>
          </ul>
          <p class="unique-window-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
