<section class="unique-section">
    <div class="container unique-container">
    <h2 class="unique-general-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-general-span">TASTE</span> SENSATION</h2>
    <p class="unique-title">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="unique-list">
        <li class="unique-item">
            <a href="#" class="unique-card-link">
            <div class="unique-window">
                <img src="/images/unique-components/choco-mobile-768.png" alt="Milk chocolate" class="unique-img milk-chocolate" srcset="../images/unique-components/choco-mobile-768.png 1x, ../images/unique-components/choco-mobile-768@2x.png 2x">
                <p class="unique-item-text">MILK CHOCOLATE</p>
                <div class="unique-open-window">
                    <b class="unique-window-text">MILK CHOCOLATE</b>
                    <ul class="unique-window-list">
                        <li class="unique-window-one-item"><p class="unique-window-item-text-one">chocolate</p></li>
                        <li class="unique-window-two-item"><p class="unique-window-item-text-two">the benefits</p></li>
                    </ul>
                    <p class="unique-title">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe, increasingly large amounts are consumed in China and Latin America.</p>
                </div>
            </div>
        </a>
        </li>
        <li class="unique-item">
            <a href="#" class="unique-card-link">
                <div class="unique-window">
                    <img src="/images/unique-components/milk-mobile-768.png" alt="Milk" class="unique-img milk" srcset="../images/unique-components/milk-mobile-768.png 1x, ../images/unique-components/milk-mobile-768@2x.png 2x">
                    <p class="unique-item-text">MILK</p>
                    <div class="unique-open-window">
                        <b class="unique-window-text">MILK</b>
                        <ul class="unique-window-list">
                            <li class="unique-window-one-item"><p class="unique-window-item-text-one">milk</p></li>
                            <li class="unique-window-two-item"><p class="unique-window-item-text-two">the benefits</p></li>
                        </ul>
                        <p class="unique-title">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system,  and thus reduces the risk of many diseases. Milk contains many nutrients, including protein and lactose.</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="unique-item">
            <a href="#" class="unique-card-link">
                <div class="unique-window"> 
                    <img src="/images/unique-components/nuts-mobile-768.png" alt="Nuts" class="unique-img nuts" srcset="../images/unique-components/nuts-mobile-768.png 1x, ../images/unique-components/nuts-mobile-768@2x.png 2x">
                    <p class="unique-item-text">NUTS</p>
                    <div class="unique-open-window">
                        <b class="unique-window-text">NUTS</b>
                        <ul class="unique-window-list">
                            <li class="unique-window-one-item"><p class="unique-window-item-text-one">nuts</p></li>
                            <li class="unique-window-two-item"><p class="unique-window-item-text-two">the benefits</p></li>
                        </ul>
                        <p class="unique-title">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own, paired with fruit, or added to dishes like salads, desserts, and grains.</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="unique-item">
            <a href="#" class="unique-card-link">
                <div class="unique-window"> 
                    <img src="/images/unique-components/semi-mobile-768.png" alt="Semi-sweet chocolate" class="unique-img semi-sweet" srcset="../images/unique-components/semi-mobile-768.png 1x, ../images/unique-components/semi-mobile-768@2x.png 2x">
                    <p class="unique-item-text">SEMI-SWEET CHOCOLATE</p>
                    <div class="unique-open-window">
                        <b class="unique-window-text">SEMI-SWEET CHOCOLATE</b>
                        <ul class="unique-window-list">
                            <li class="unique-window-one-item"><p class="unique-window-item-text-one">sweet chocolate</p></li>
                            <li class="unique-window-two-item"><p class="unique-window-item-text-two">the benefits</p></li>
                        </ul>
                        <p class="unique-title">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow. This delectable flavor of chocolate is very versatile.</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
</section>
