.section-advantages {
  padding-top:20px;
  padding-bottom: 20px;
  margin-top: 68px;
  background-color: var(--primary-background-color);
}

.advantages {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 375px;
  
}

.advantages-list {
  display: block;
}

.advantages-title {
  display: none;
}

.advantages-item {
  max-width: 336px;
}

/* .advantages-item:last-child {
  padding-bottom: 16px;
}

.advantages-item:not(:last-child) {
  margin-bottom: 20px;
} */

.advantages-item {
  margin-bottom: 20px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.advantages-icon {
  fill: var(--accent-color);
}

.advantages-content {
  max-width: 308px;
}

.advantages-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-light-color);

  margin-bottom: 18px;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: var(--secondary-light-color);
}

@media screen and (min-width: 768px) {
.section-advantages {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: var(--primary-background-color);
  }

  .advantages {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .advantages-item {
    width: 336px;
  }

  .advantages-item {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 1200px) {
.section-advantages {
    margin-top: 72px;
  }

  .advantages {
    max-width: 1200px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    gap: 70px;
  }

  .advantages-item {
    position: relative;
  }

  .advantages-item:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: -60px;
    content: ' ';
    width: 124px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
  }
}
