.footer-one{
    margin-left: auto;
            margin-right: auto;
    background:var(--primary-background-color);
    padding-top: 32px;
    padding-bottom: 32px;
}


.footer-name-chocolate{
    color: var(--accent-color);
}

.footer-page-name{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    color: var(--primary-light-color);
    margin-bottom: 32px;
   
}
 .footer-mobil-svg{
    display: flex;
    margin-bottom: 32px;
    
 }


.footer-contact{
    

}

.footer-p-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-light-color);
    margin-bottom: 14px;    
}

.footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-light-color);
    margin-bottom: 4px;
    transition: color var(--transition);
}

.footer-tel:hover, .footer-tel:focus{
    color: var(--accent-color);
}

.footer-mailto{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-light-color);
    margin-bottom: 0px; 
    transition: color var(--transition);
  
}


.footer-mailto:hover, .footer-mailto:focus{
    color: var(--accent-color);
}


.footer-ul-svg{
    display: flex;
}

.footer-li-svg{
    margin-right:14px;
}

.footer-li-svg:nth-child(2){
    margin-right: 0;
}

.footer-svg-a{
    color: var(--primary-light-color);
    transition: color var(--transition);
}

.footer-svg-a:hover, .footer-svg-a:focus, .footer-svg-a:active {
    color: var(--accent-color);
    
}


.footer-div-svg{
    
    margin-left: 113px;
}
.footer-svg {
    display: block;
    fill: transparent;
    stroke: currentColor;
    width:22px; 
    height:22px;
}

.footer-ul-svg{
    display: flex;
}
.footer-li-svg{
   margin-right: 14px; 
}

.footer-li-svg:nth-child(2){
    margin-right: 0px;
}








.footer-hr{
 margin-top: 0%;
 margin-bottom: 0%;
border:  1px solid rgba(255, 255, 255, 0.1);
transform: rotate(180deg);
}

.footer-menu{
    margin-top: 32px;
}



.footer-li-menu{
    margin-bottom: 18px;
    transition: color var(--transition);


}
.footer-li-menu:hover {
    color: var(--accent-color);
}



.footer-li-menu:nth-child(5){
    margin-bottom: 0px;
}

.footer-menu-a{
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--primary-light-color);
transition: color var(--transition);
}

.footer-menu-a:hover, .footer-menu-a:focus, .footer-menu-a:active{
    color: var(--accent-color);
}


           


@media screen and (min-width :768px){
        .footer-one{
            background:var(--primary-background-color);
            padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-page-name{
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--primary-light-color);
        margin-right: 124px;
    
        margin-bottom: 0px;  
  }

  .footer-mobil-svg{
    margin-bottom: 0;
  }
    .footer-tablet-flex{
        display: flex;
        margin-bottom: 50px;
    }
    .footer-contact{
        margin-top: 0;
        margin-bottom: 0;
    
    }

    .footer-tel{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--primary-light-color);
        margin-bottom: 4px;
    }


    .footer-mailto{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--primary-light-color);
        margin-bottom: 0px;   
    }

    .footer-menu{
        margin-top: 24px;

        }

        .footer-div-svg{
            margin-left: 50px;
        }


        .footer-li-svg{
            margin-right: 19px; 
         }

        .footer-svg{
            width:24px; 
            height:24px;
        }
      

    .footer-ul-menu{
        display: flex;

        
        }

    .footer-menu-a{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--primary-light-color);
    }
    .footer-li-menu{
        margin-bottom: 0px;
        margin-right: 24px;
    
    }

    .footer-li-menu:nth-child(5){
        margin-right:0 ;
    }

}

       






@media screen and (min-width :1200px){
    
             .footer-one{
             
                background:var(--primary-background-color);
                padding-top: 50px;
            padding-bottom: 50px;
        }

        .footer-tablet-flex{
            display: flex;
            margin-bottom: 62px;
            }
            
            .footer-li-svg{
                margin-right: 19px; 
             }

            .footer-page-name{
                font-size: 28px;
                line-height: 1.2;
                margin-right: 543px;

            }


            .footer-contact{
                margin-top: 0;
                margin-bottom: 0;
            }

            .footer-div-svg{
                margin-left: 63px;
            }
            

            .footer-svg{
                width:24px; 
                height:24px;
            }
          
           .footer-menu{
            display: flex;
            margin-top: 24px;
            display: flex;

           }

           .footer-ul-menu{
            display: flex;
           

           }

           .footer-li-menu{
            margin-bottom: 0px;
        
        }

    }