.body-wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.header {
  padding-top: 24px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--primary-dark-color);
}

.header-logo-icon-mob,
.header-logo-icon-desk {
  fill: transparent;
  stroke: var(--accent-color);
}

.header-logo-icon-desk,
.header-list-nav,
.header-list-soc,
.header-menu-icon-tab {
  display: none;
}

.accent-logo {
  font-style: italic;
}

.header-soc-icon {
  fill: transparent;
  stroke: var(--primary-dark-color);
  transition: stroke var(--transition);
}

.header-soc-icon:is(:hover, :focus, :active) {
  stroke: var(--accent-color);
}

.btn-menu {
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.header-menu-icon-mob {
  stroke: var(--primary-dark-color);
}

/* ---------- MOB MENU --------------- */

.mob-menu {
  font-weight: 500;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 220px;
  height: 100vh;
  color: var(--primary-light-color);
  background: var(--primary-background-color);
  overflow-y: auto;
  visibility: visible;
  transition: transform var(--transition);
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateX(220px);
  transition: transform var(--transition);
}

.menu-link-nav {
  transition: font-weight var(--transition), color var(--transition),
    padding-bottom var(--transition), border-bottom var(--transition);
}

.menu-link-nav:is(:hover, :focus, :active) {
  font-weight: 600;
  color: var(--accent-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--accent-color);
}

.menu-container {
  height: 100%;
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-menu-close {
  margin-left: auto;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-style: none;
  stroke: var(--primary-light-color);
  transform: scale(1);
  transition: stroke var(--transition), scale var(--transition);
}

.btn-menu-close:focus,
.btn-menu-close:hover {
  transform: scale(1.2);
  stroke: var(--accent-color);
}

/* .btn-menu-close:hover */

.header-close-icon-tab,
.menu-soc-icon-tab {
  display: none;
}

.menu-link-soc {
  color: var(--primary-light-color);
  transition: color var(--transition);
}

.menu-soc-icon-tab {
  stroke: currentColor;
}

.menu-link-soc:hover,
.menu-link-soc:focus {
  color: var(--accent-color);
}

.menu-list-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 88px;
  margin-left: 30px;
  margin-bottom: 88px;
}

.menu-list-soc {
  display: flex;
  gap: 18px;
}

.menu-item-soc {
  fill: transparent;
  stroke: var(--primary-light-color);
  transition: stroke var(--transition);
}

.menu-item-soc:is(:hover, :focus) {
  stroke: var(--accent-color);
}

/* ------------ TABLET -------------- */

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 24px;
  }

  .header-menu-icon-mob {
    display: none;
  }

  .btn-menu {
    width: 32px;
    height: 32px;
  }

  .header-menu-icon-tab {
    display: block;
    stroke: var(--primary-dark-color);
  }

  /* ----------- TAB MOB MENU ----------- */

  .mob-menu {
    width: 290px;
  }

  .menu-container {
    width: 290px;
    padding: 24px 32px;
  }

  .btn-menu-close {
    width: 32px;
    height: 32px;
  }

  .header-close-icon-tab,
  .menu-soc-icon-tab {
    display: block;
  }

  .header-close-icon-mob,
  .menu-soc-icon-mob {
    display: none;
  }
}

/* ------------ DESKTOP ---------------- */

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 32px;
  }

  .header-logo {
    margin-right: 188px;
    font-size: 18px;
    line-height: 1.11;
  }

  .header-logo-icon-mob,
  .btn-menu {
    display: none;
  }

  .header-logo-icon-desk {
    display: block;
  }

  .header-list-nav {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    display: flex;
    gap: 24px;
    margin-right: 137px;
  }

  .header-link-nav {
    transition: color var(--transition);
  }

  .header-link-nav:is(:hover, :focus, :active) {
    color: var(--accent-color);
  }

  .header-list-soc {
    display: flex;
    gap: 18px;
  }

  .header-item-soc {
    width: 24px;
    height: 24px;
  }

  .header-link-soc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
