.hero-container {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero/hero-375-1x.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-background-color);

  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-375-2x.jpg);
  }
}
.hero--title {
  text-align: start;
  font-weight: 500;
  color: var(--primary-light-color);
  margin-bottom: 32px;
  text-transform: none;
  max-width: 278px;
}

.hero__tablet--btn--scroll {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero__scroll--wrap {
  display: flex;
  align-items: center;
}

.hero__scroll--title {
  display: flex;
  gap: 14px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--primary-light-color);
}

.hero__scroll--title:hover,
.hero__scroll--title:focus {
  color: var(--accent-color);
}

.hero__scroll--title:is(:hover, :focus) .hero__scroll--link {
  background-color: var(--accent-color);
}

.hero__scroll--title:is(:hover, :focus) .hero__scroll--item {
  fill: var(--primary-light-color);
}

.hero__scroll--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--primary-light-color);
  transition: background-color var(--transition);
  transition: fill var(--transition);
}

.hero__scroll--item {
  fill: var(--accent-color);
}

.hero__button--wrap {
  white-space: nowrap;
}
.hero__btn--1 {
  padding: 12px 28px;
  margin-right: 14px;
}
.hero__btn--2 {
  padding: 12px 27px;

  border: 1px solid var(--primary-light-color);
  background: transparent;
  color: var(--primary-light-color);
  transition: background-color var(--transition), border var(--transition),
    color var(--transition);
}
.hero__btn--2:hover,
.hero__btn--2:focus {
  background-color: var(--primary-light-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-768-1x.jpg);

    padding-top: 671px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero/hero-768-2x.jpg);
    }
  }

  .hero--title {
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
  }
  .hero__tablet--btn--scroll {
    flex-direction: row;
  }
  .hero__scroll--wrap {
    margin-left: auto;
  }
  .hero__btn--1 {
    padding: 14px 40px;
    margin-right: 14px;
  }
  .hero__btn--2 {
    padding: 14px 40px;
  }

  .hero__scroll--title {
    font-size: 14px;
    line-height: 1.29;
  }

  .hero__scroll--link {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-1200-1x.jpg);

    padding-top: 381px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-1200-2x.jpg);
  }
}
