

  .hero-container{
  background-image: linear-gradient(
    180deg, rgba(17, 17, 17, 0) 0%, 
    rgba(17, 17, 17, 0.4) 100%), url(../images/hero/background@2x.jpg);
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 621px;
  max-width: 375px;
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
}

.hero--content {
  position: absolute;
  top: 375px;

}

.hero--title {
  text-align: start;
  font-weight: 500;
  color: var(--primary-light-color);
  margin-bottom: 32px;
  text-transform: none;
  width: 278px;

}
.hero__scroll--wrap{
display: flex;
align-items: center; 
}

.hero__scroll--title{
font-weight: 500;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.03em;
color: var(--primary-light-color);
margin-right: 12px;
}

.hero__button--wrap{
white-space: nowrap;
margin-bottom: 32px;
}
.hero__btn--1{
  display: inline-block;
  width: 120px;
  padding: 12px 28px;
  margin-right: 16px;
}
.hero__btn--2{
  width: 159px;
  padding: 12px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid var(--primary-light-color);
  background: transparent;
  color: var(--primary-light-color);
}

.hero__scroll--item{
 fill: var(--accent-color);
}
.hero__scroll--link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--primary-light-color);

}


@media screen and (min-width :768px){
  .hero-container{
    background-image: linear-gradient(
      180deg, rgba(17, 17, 17, 0) 0%, 
      rgba(17, 17, 17, 0.4) 100%),
  
    url(../images/hero/background@2x.jpg);
    max-width: 704px;
    height: 890px;
  }
  .hero--content{
    position: absolute;
    top: 671px;
    width:624px;
  }
  .hero--title {
    width: 484px;
    font-style: normal;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
   
  }
  .hero__tablet--btn--scroll{
    display: flex;
    align-items: baseline;
  }
  .hero__scroll--wrap{
   margin-left: auto;
     
    }
    .hero__btn--1{
     padding: 14px 40px;
      width: 144px;
      margin-right: 14px;
    }
    .hero__btn--2{
      width: 183px;
      padding: 14px 40px;
    }
}
@media screen and (min-width :1200px){
 
  .hero-container {
    background-image: linear-gradient(
      180deg, rgba(17, 17, 17, 0) 0%, 
      rgba(17, 17, 17, 0.4) 100%),
  
    url(../images/hero/background@2x.jpg);
    max-width: 1136px;
  }
  .hero--content{
    width:1056px;
  }
  .hero--title{font-weight: 500; 
    font-size: 28px;
    line-height: 1.20; 
    text-align: left;
    vertical-align: top;
    letter-spacing: -0.03em; 
}
   
  }
