.made-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-dark-color);
    margin-bottom: 32px;
    }
    
    .made-subtitle {
        font-weight: 600;
        font-size: 20px;
        color: var(--accent-color);
    }

    .icon-tumb {
        position: relative;
    }
    
    .video-icon {
        position: absolute;
        left: 45%;
        top:45%;
    }
    
    .ingridients-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color:var(--primary-dark-color);
    margin-bottom: 20px;
    }
    
    .icon-rank {
        border-radius: 15px;
    }
    
    .ingridients-item {
        padding-left: 16px;
        display: inline-block;
    }
    
    .list-icon {
        position: absolute;
        padding-right: 8px;
    }
    
    .made-paragraph {
        background-color: var(--primary-light-color);
        border-radius:15px;
        padding: 20px 14px;
        margin-top: 20px;
    }
    
    
    .ingridients-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--primary-dark-color);
    }
    
    .ingridients-list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    
    
    
    @media screen and (min-width: 768px) {
        .made-section {
            display: flex;
            justify-content: center;
        }
    
        .made-title {
            font-size: 24px;
            line-height: 0.85;
            margin-bottom: 50px;
        }
    
        .made-subtitle {
            font-size: 24px;
            line-height: 0.85;
        }
    
        .ingridients-title {
            margin-bottom: 28px;
        }
    
        .new-line {
            display: block;
        }
    
        .new-line-title {
            display: block;
        }
    
        .made-paragraph {
            padding: 32px;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .video-icon {
            position: absolute;
            left: 49%;
            top: 49%;
        }
    
    }
    
    @media screen and (min-width: 1200px) {
    
        .made-background {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    
        .ingridients-list {
            display: flex;
            gap: 24px;
        }
    
        .made-paragraph {
            padding-bottom: 94px;
            margin-top: 0;
        }
    
        .new-line {
            display: inline;
        }
    
        .desktop-line {
            display: block;
        }

        .icon-rank {
            height: 100%;
        }
    
    }