.overlay-thank {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition), background-color var(--transition);
}

.modal__thank {
  z-index: 50;

  width: 311px;
  height: 350px;
  padding: 84px 24px 84px 68px;
  border-radius: 15px;

  background-color: var(--accent-color);
}

.modal__thank::after {
  content: '';
  position: absolute;
  bottom: -48%;
  left: 0;

  display: block;
  width: 296px;
  height: 399px;

  background-image: url(../images/modal/choc-abs-mob-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .modal__thank::after {
    background-image: url(../images/modal/choc-abs-mob-2x.png);
  }
}

.modal__thank--close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  padding: 0;
  border: transparent;
  border-radius: 50%;
  outline: none;

  color: var(--accent-color);

  transition: transform var(--transition), color var(--transition),
    background-color var(--transition);
}

.modal__thank--close:is(:hover, :focus) {
  color: var(--primary-dark-color);
  background-color: transparent;
  transform: scale(1.5);
}

.modal__thank--close-icon {
  stroke: currentColor;
}

.modal__thank--title {
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--accent-active-color);
}

.modal__thank--text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--primary-light-color);
}

@media screen and (min-width: 768px) {
  .modal__thank {
    width: 516px;
    min-height: 414px;
    padding: 154px 44px 154px 163px;
  }

  .modal__thank::after {
    content: '';

    height: 516px;

    background-image: url(../images/modal/choc-tab_deks-1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal__thank::after {
      background-image: url(../images/modal/choc-tab_deks-2x.png);
    }
  }

  .modal__thank--close {
    top: 24px;
    right: 26px;

    width: 38px;
    height: 38px;
  }

  .modal__thank--close-icon {
    width: 22px;
    height: 22px;
  }

  .modal__thank--title {
    padding-bottom: 8px;

    font-size: 24px;
    line-height: 1.17;
  }

  .modal__thank--text {
    font-size: 18px;
    line-height: 1.33;
  }
}
