.overlay-feedback {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition), background-color var(--transition);
}

.modal__feedback {
  padding-left: 58px;
}

.modal__feedback .modal__thank--text {
  width: 180px;
}

@media screen and (min-width: 768px) {
  .modal__feedback {
    padding: 163px 49px 163px 170px;
  }
  .modal__feedback .modal__thank--text {
    width: 297px;
  }
}
