.review-modal {
  width: 311px;
  max-width: 100%;
  max-height: 471px;
  max-height: 100%;

  background: var(--background-color);
  border-radius: 15px;
  padding: 32px 24px;
}

.review-modal .buy-now-modal-form {
  margin-bottom: 0;
}

.review-modal h2 {
  line-height: 1.2;
  text-align: left;
  max-width: 255px;

  margin-bottom: 32px;
}

.review-modal .buy-now-title-accent {
  color: var(--accent-color);
}

.review-modal .buy-now-first {
  margin-bottom: 0;
}

.review-modal .buy-now-label:nth-child(-n + 3) {
  margin-bottom: 14px;
}

.buy-now-label:last-child {
  margin-bottom: 0px;
}

/* ____________ADAPTIVE REVIEW MODAL TABLET/DESKTOP_______________ */

@media screen and (min-width: 768px) {
  .review-modal {
    width: 517px;
    max-height: 631px;
    padding: 40px;
  }

  .review-modal h2 {
    max-width: 298px;
    font-size: 24px;
    line-height: 1.16;

    margin-bottom: 40px;
  }

  .review-modal .buy-now-label-input {
    font-size: 18px;
  }

  .review-modal .buy-now-message {
    font-size: 18px;
  }

  .review-modal .buy-now-first {
    width: 513px;
  }

  .review-modal .buy-now-label:nth-child(-n + 3) {
    margin-bottom: 19px;
  }
}
