.swiper-wrapper {
  width: auto;
  height: auto;
}
.our-products-card {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 32px;
  padding-right: 52px;
  padding-left: 52px;
  padding-bottom: 32px;
  height: 364px;
  max-width: 335px;
  border-radius: 15px;
  background-color: var(--primary-light-color);
  border: 1px solid #1111111a;
}
.our-products-title {
  margin-bottom: 32px;
  color: var(--primary-dark-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.our-products-title-accent {
  color: var(--accent-color);
}
.our-products-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-products-name {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
}
.our-products-info {
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-align: center;
}
.our-products-price {
  padding-top: 8px;
  height: 33px;
  width: 94px;
  border-radius: 100px;
  background-color: var(--background-color);
  border: 1px solid #1111111a;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
/* -------------------- Swiper ------------------------ */
.our-products-pagination {
  position: static;
  margin-top: 20px;
}
/* ---------------------------------------------------- */
@media screen and (min-width: 768px) {
  .our-products-card {
    max-width: 270px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .our-products-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .our-products-title {
    margin-bottom: 32px;
  }
}
