/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

@font-face {
  font-family: Montserrat-Italic;
  src: url(./font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./font/Montserrat-VariableFont_wght.ttf);
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.02em;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
