.reviews {
  text-align: center;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reviews-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-dark-color);
  margin-bottom: 32px;
}

.reviews-title-accent {
  color: var(--accent-color);
}

.reviews-wrap {
  align-items: center;
  margin: auto;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  max-width: 335px;
  min-height: 242px;
}

.reviews-photo {
  z-index: 100;
  border-radius: 50%;
}

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 100%;
  top: 42px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 56px;
  padding-bottom: 24px;
  background: var(--primary-light-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-dark-color);
  margin-bottom: 24px;
}

.reviews-text {
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondary-dark-color);
}

/*------------------------------------*/

.reviews-swiper {
  max-width: 100%;
}

.swiper-pagination-reviews {
  position: static;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .swiper-pagination-reviews {
    margin-top: 32px;
  }
}

/*-----------------------------------*/
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
  line-height: 20px;
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 7px;
  background-color: var(--accent-color);
}

/*------------Button--------------------*/
.reviews-btn {
  background-color: transparent;
  color: var(--primary-dark-color);
  padding: 12px 28px;
  margin-top: 32px;
  width: 165px;
  height: 41px;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
}

.reviews-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  color: var(--primary-light-color);
}

@media screen and (min-width: 768px) {
  .reviews-card {
    max-width: 344px;
  }

  .reviews-title {
    margin-bottom: 49px;
  }

  .reviews-btn {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-card {
    max-width: 360px;
  }
}
